:root {
    --corBase1: #FFFFFF;
    --corBase2: #D9D9D9;
    --cor1: #F3F6FC;
    --cor2: #C0D3F6;
    --cor3: #88A3D7;
}

main {
    display: grid;
    grid-template-columns: 2fr 6fr;
    margin-left: 100px;
    padding: 40px;
}

.painel {
    grid-column: 1;
}

#curso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

#curso h2 {
    text-align: center;
}

#presenca {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#faltas {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#forma1, #forma2 {
    fill: var(--cor3);
}

#faltas svg{
    width: 70px;
    height: 70px;
    transition: cubic-bezier(0.24, 0.29, 0.17, 1.8) 500ms;
}

#faltas:hover svg{
    transform: rotate(50deg);
}

#preview {
    padding: 20px 0;
    margin-left: 15px;
}

.materia {
    margin-bottom: 18px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.nota {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nota svg {
    width: 50px;
    height: 50px;
}

#faltas p, .nota p {
    position: absolute;
    z-index: 5;
}