@import url(temas.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 46px 28px 0 32px;
}

nav{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    background: var(--surface-container);
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 88px;
    position: fixed;
    overflow-x: hidden;
}

.lista_down{
    grid-row: 3;
}

header{
    padding: 40px 50px;
    background-color: var(--primary-container);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main{
    padding: 37px 70px 544px 61px;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

main > div {
    margin-right: 30px;
}

section{
    padding: 37px 60px 10px 37px;
}

h1{
    font-size: 70px;
    font-weight: 500;
}

h2{
    font-size: 60px;
    font-weight: 400;
}

h3{
    font-size: 23px;
    font-weight: 600;
}

h4{
    font-size: 20px;
    font-weight: 600;
}

section p{
    margin: 10px 20px 30px 20px;
}

header p{
    margin: 10px;
}

aside {
    /*Para position sticky funcionar, eh necessario fornecer a altura*/
    height: fit-content;
    position: sticky;
    top: 20%;
}

li{
    list-style: none;
    padding: 5px 10px;
    margin: 5px 0;
}

li:not(.visivel-indice) {
    display: none;
}

#selecionado {
    color: var(--primary);
    border-radius: 25px;
    border: 1px var(--outline) solid;
}