@import url(temas.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 46px 28px 0px 32.5px;
}

header{
    padding: 40px 50px;
    background-color: var(--primary-container);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main{
    padding: 37px 70.5px 544px 61px;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

main > div {
    margin-right: 30px;
}

section{
    padding: 37px 60.12px 10px 37px;
}

h1{
    font-size: 70px;
    font-weight: 500;
}

h2{
    font-size: 60px;
    font-weight: 400;
}

h3{
    font-size: 23px;
    font-weight: 600;
}

h4{
    font-size: 20px;
    font-weight: 600;
}

section p{
    margin: 10px 20px 30px 20px;
}

header p{
    margin: 10px 10px 10px 10px;
}

li{
    list-style: none;
    margin: 10px 10px;
}