@import url(base.css);

*{
    box-sizing: border-box;
}

main{
    display: block;
    padding: 2% 2% 0 2%;
}

header{
    grid-column: span 2;
    padding: 50px 35px 0 35px;
    background-color: var(--primary-container);
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 25px;
}

h1{
    text-align: center;
    font-size: 75px;
    font-weight: 800;
}

h2 {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
}

header button {
    background-color: var(--primary);
    border-radius: 100px;
    color: var(--on-primary);
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    margin: 40px auto;
}

/*-------------------------------------------------------------*/
main > div {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

}

main > div > a {
    text-decoration: none;
    width: 100%;
    padding: 0 20px;
}

.table_titulo {
    padding: 2px 2px 40px 2px;
    background-color: var(--surface-container);
    margin-bottom: 0;
    border-radius: 25px;
    text-align: center;
}

.table_titulo > h2 {
    margin-top: 25px;
}

table {
    width: 100%;
    padding: 20px 0 20px 20px;
    background-color: var(--secondary-container);
    border-radius: 25px;
}


/*-------------------------------------------------------------*/

th{
    text-align: start;
    font-size: 20px;
}

.biblioteca{
    text-align: start;
    font-size: 11px;
}

.esplicacao{
    text-align: start;
    font-size: 12px;
}