@import url(base.css);

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--on-background);
    box-sizing: border-box;
}


.navPrincipal {
    background: var(--surface-container);
    height: 100%;
    min-width: 88px;
    text-align: center;
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

#navBibliotecas {
    cursor: default; /*resetar o cursor dentro do menu*/
    box-sizing: border-box; /*util para o height levar em consideração o padding*/
    height: 100vh;
    position: absolute;
    top: -120vh;
    left: 100%;
    background: var(--surface-container);
    border-left: 1px solid var(--outline);
    padding: 20px 0 0 20px;
    min-width: 150px;
    text-align: left;
    transition: 180ms linear, display 0ms linear;
    border-radius: 0 25px 25px 0;
}

.index_header{
    grid-column: span 2;
    padding: 50px 25px 1px 25px;
    background-color: var(--primary-container);
    border-radius: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
    grid-row: 1;
}

h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.button{
    background-color: var(--primary);
    border-radius: 100px;
    color: white;

    display: block;

    padding: 25px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;

    margin: 50px auto;

}

.contorno{
    padding: 5px 5px 0px 5px;
    background-color: var(--surface-container);
    column-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0px;
    border-radius: 25px;
}

.index_html{
    column-gap: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 0px;
}



.table_cima{
    padding: 20px 20px 20px 50px;
    background-color: var(--secondary-container);
    margin-bottom: 0px;
    border-radius: 25px;
}

.table_titulo{
    padding: 20px 20px 20px 50px;
    background-color: var(--surface-container);
    margin-bottom: 25px;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
}

table{
    width: 100%;
}

th{
    text-align: start;
    font-size: 25px;
    border-radius: 25px;
}

.biblioteca{
    text-align: center;
    font-size: 15px;
}

.esplicacao{
    text-align: center;
    font-size: 20px;
}

