body {
    display: grid;
    grid-template-columns: 2fr 9fr;
}

nav {
    padding: 25px 0;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.pagina {
    text-align: center;
    grid-row: 1;
}

table, td, th {
    border: 1px solid white;
    border-collapse: collapse;
    height:fit-content;
    text-align: center;
}

table {
    width: fit-content;
    margin: 0 auto;
}

th, .legenda {
    padding: 5px 15px;
}

button {
    display: block;
    height: fit-content;
    width: fit-content;
    margin: 50px auto;
}

input, input:focus-visible {
    background: inherit;
    border: none;
    outline: 0;
    text-align: center;
    color: white;
    height: 100%;
}

.erro {
    background-color: #6f3a3a;
}

ul {
    text-align: center;
    padding: 0;
}