@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.icone {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0 !important;
}

img {
    width: 32px;
    height: 32px;
}

a:visited, a:hover, a {
    color: black;
    text-decoration: underline;
}

.link {
    transition: 150ms;
}

.link:hover {
    transform: scale(1.07);
}

button:hover {
    cursor: pointer;
}