#formulario {
    width: fit-content;
    margin: 0 auto;
}

#formulario-tabela {
    position: relative;
    padding-right: 40px;
}

#adicionar-linha-localizacao td {
    padding: 0 !important;
}

.input-tabela {
    margin: 1px !important;
    width:max-content !important;
}

#adicionar-linha {
    position: absolute;
    right: 0px;
}

