body{
    height: 100vh;
}

body > div {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    text-align: center;
}

button {
    display: block;
    margin: 5px auto;
    padding: 3px 10px;
}

#resultado {
    margin: 150px auto;
}

table, td, tr, th {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    padding: 2px 7px;
}

