@import url(base.css);

.painel {
    height: max-content;
}

.dashboard {
    grid-column: 1 / 3;
}

#situacao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px auto;
    justify-items: center;
    align-content: center;
    text-align: center;
}

#situacao svg {
    margin: 10px 0;
    width: 60px;
    height: 60px;
}

#situacao div {
    position: relative;
}

#total svg, #total .quant {
    fill:var(--primario);
    color: var(--no-primario);
}

#vencido svg, #vencido .quant {
    fill: var(--aviso);
    color: var(--no-aviso);
}

#aberto svg, #aberto .quant {
    fill: var(--container-primario);
    color: var(--no-container-primario);
}

.quant {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.mes {
    margin-bottom: 18px;
    display: grid;
    grid-template-columns: 5fr 4fr;
    align-items: center;
}

.mes h3 {
    font-size: 15px;
    width: 80%;
}

.valor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    width: 100px;
    height: 50px;
    background: var(--container-primario);
    border-radius: 50px;
}

.valor p {
    color: var(--no-container-primario);
    position: absolute;
    z-index: 5;
}

@media screen and (max-width: 900px) {
    .painel {
        position: relative;
    }

    #curso {
        position: absolute;
        width: 35%;
        height: 150px;
        z-index: 3;
        padding: 10px 20px;
    }

    #mensalidade {
        background: transparent;
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    #resumo, #preview {
        background: var(--container-superfice-baixo);
        padding: 20px 20px 10px 20px;
        border-top-left-radius: 22px;
    }

    #resumo {
        grid-column: 2;
    }

    #situacao {
        grid-template-columns: 1fr;
    }

    #aberto, #vencido {
        display: none;
    }

    #preview {
        position: relative;
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    #mensalidade::after, #mensalidade::before {
        content: '';
        position: absolute;
        aspect-ratio: 1;
        z-index: 2;
        top: 35%;
        left: 50%;
    }

    #mensalidade::before {
        width: 20px;
        background: var(--container-superfice-baixo);
        transform: translate(-100%, -80%);
    }

    #mensalidade::after {
        width: 40px;
        background: var(--branco);
        border-radius: 50%;
        transform: translate(-100%, -100%);
    }
}