[data-tema = "light"] {
    --preto: #000;
    --branco: #fff;
    --primario: #255FA6;
    --no-primario: #fff;
    --secundario: #555F71;
    --container-primario: #D5E3FF;
    --no-container-primario: #001B3C;
    --container-secundario: #D9E3F8;
    --no-container-secundario: #121C2B;
    --container-terciario: #F8D8FE;
    --no-container-terciario: #28132F;
    --na-superfice: #1A1C1E;
    --superfice: #FAF9FD;
    --container-superfice-maisAlto: #E3E2E6;
    --container-superfice-baixo: #F4F3F7;
    --outline: #74777F;
    --aviso: #BA1A1A;
    --no-aviso: #FFFFFF;
}

[data-tema = "dark"] {
    --preto: #fff;
    --branco: #000;
    --primario: #A8C8FF;
    --no-primario: #003061;
    --secundario: #BDC7DC;
    --container-primario: #004689;
    --no-container-primario: #D5E3FF;
    --container-secundario: #3E4758;
    --no-container-secundario: #D9E3F8;
    --container-terciario: #563E5D;
    --no-container-terciario: #F8D8FE;
    --na-superfice: #C7C6CA;
    --superfice: #121316;
    --outline: #8E9199;
    --container-superfice-maisAlto: #343538;
    --container-superfice-baixo: #0D0E11;
    --outline: #8E9199;
    --aviso: #FFB4AB;
    --no-aviso: #690005;
}

[data-tema="dark"] #pesquisa img {
    filter: invert(1);
}

#estela {
    filter: invert(0) !important;
}
