@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    margin: 7px 0;
}

a {
    font-size: 16px;
    margin: 5px 0;
    text-decoration: underline;
    color: black;
}

/*TABELAS*/
table {
    margin: 10px 0;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 5px 20px 5px 0px;
    text-align: left;
    align-items: center;
}

img {
    width: 150px;
    display: block;
    margin: 5px auto;
}