@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@media screen and (max-width: 900px) {
    #frase p {
        margin: 15px 0 !important;
    }

    #imagens {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 auto !important;
    }

    #imagens img {
        margin: 20px 0 !important;
    }
}

* {
    font-family: 'Poppins';
}

body {
    transition: 200ms;
    height: 100vh;
    margin: 0;
}

#acerto {
    background-color: rgb(105, 204, 105);
}

#erro {
    background-color: rgb(221, 56, 56);
}

main {
    margin: 0 auto;
    height: 100%;
}

#frase p {
    font-family: "Poppins";
    font-weight: 600;
    font-size:larger;
    margin: 25px 0;
    text-align: center;
}

#imagens {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 65%;
    margin: 40px auto;
}

#imagens img {
    margin: 0 40px;
    cursor: pointer;
}

#status {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-weight: 600;
    font-size: large;
}

#status p {
    margin: 0 10px;
}