@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    display: grid;
    align-items: center;
    justify-items: center;
    transition: 200ms;
}

#acerto {
    background-color: rgb(105, 204, 105);
}

#erro {
    background-color: rgb(221, 56, 56);
}

main {
    margin: 0 auto;
}

#frase p {
    font-family: "Poppins";
    font-weight: 600;
    font-size:larger;
    margin: 25px 0;
    text-align: center;
}

#imagens {
    display: flex;
    justify-content: center;
    align-content: center;
}

#imagens img {
    margin: 0 40px;
    cursor: pointer;
}

#status {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-weight: 600;
    font-size: large;
}

#status p {
    margin: 0 10px;
}